.navigation-menu{
      List-style-type:none;
      display:flex;
      align-items: center;
      
}
.navigation-menu li{
      margin: 0px 20px;

}
.navigation-menu li a{
      text-decoration: none;
      color:goldenrod;
      font-size: 1rem;
    
}

.mobile-navigation{
      list-style-type:none;
}
.mobile-navigation li{        
      list-style-type:none;
      margin-top: 20px;
}

.mobile-navigation li a{
      text-decoration: none;
      color: goldenrod;
      font-size: 1.4rem;
}