.homepage{
      height :90vh;
      display:flex;
      justify-content:center;
      flex-direction:column;
      align-items:left;
      background-size:cover;
      background-position:center;
      padding-left:50px;

}

.headerContainer{
      width:auto;
      margin-left:20px;
}

.headerContainer h2{
      font-size:10vh;
      justify-content:center;
      align-items:center;
      font-weight:bold;
      font-size:70px;
      color:black;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headerContainer p{
      font-size:24px;
      font-weight:500px;
}

.homepage .headerContainer button{
      margin-top:20px;
      padding:10px;
      color:goldenrod;
      cursor:pointer;
      text-decoration:none;
      width:180px;
     font-size:18px;
     border-radius:10px;

}

.homepage .headerContainer button:hover{
      font-weight:bold;
      transition:0.3s;
      cursor:pointer;
      border:2px solid goldenrod;
}

@media only screen and (max-width:600px){
      .homepage{
            justify-content:center;
            align-items:center;
            padding:0px;
      }

      .headerContainer{
            margin-left:0px;
            border-radius:10px;
            background-color:rgba(255,255,255,0.7);
            text-align:center;
            width:80%;
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction: column;
            padding:10px

      }
      .headerContainer h2{
            font-size:40px;
            height:30px;
            margin:15px 0px;

      }

      .headerContainer p{
            font-size:18px;
            margin-top:30px;
            padding:10px 0px;
      }
}